---
import Layout from '../layouts/Layout.astro';
import ScheduleDashboard from '../components/tutors/ScheduleDashboard.astro';
---

<Layout title="dev.optimiselearning">
<main class="min-h-900px overflow-x-hidden overflow-y-hidden flex items-center justify-center">
	<ScheduleDashboard googleSheetUrl="https://docs.google.com/spreadsheets/d/1g1XLVfrAL6b3AT9j2clA_uaLYBC2AY4KgAY3_jOrV-0/edit?gid=0#gid=0" />
</main>
</Layout>
